mixin s-delivery()
	// start s-delivery
	+b.s-delivery.section#s-delivery 
		.row
			.col-lg-4.col-sm-6
				+select()
					option( selected disabled) Выберите регион доставки
					option( ) Выберите регион доставки 1
					option( ) Выберите регион доставки 2
			
			.col-lg-4.col-sm-6
				+select()
					option( selected disabled) Выберите населенный пункт
					option( ) Выберите населенный пункт 1
					option( ) Выберите населенный пункт 2
		p Наш магазин осуществляет доставку по Москве, Московской области и по всей территории России. Для Вашего максимального удобства, мы используем самые разные и эффективные способы доставки косметики. В зависимости от региона доставки, Вы можете заказать доставку косметики на дом, в офис или в пункты выдачи заказов, а также указать предпочитаемое время доставки. Выбрать желаемый способ доставки Вы можете в Вашем личном кабинете при оформлении заказа. 
			br
			| Стоимость доставки косметики напрямую зависит от выбранного региона доставки.   
			br
			| Подробную информацию по стоимости, способам и срокам доставки Вы можете получить, выбрав интересующий Вас регион и город доставки.
		p.strong После формирования заказа оператор нашего магазина обязательно свяжется с Вами по телефону для подтверждения даты и времени доставки.
		.row
			+e.col.col-lg-8
				+b.group-bg
					.row
						.col-sm-6
							+e.title Условия доставки по Москве:  
							.small.text-gray доставка в пункт выдачи: 
							.strong.mb-2 200 руб. 
							.small.text-gray доставка курьером: 
							.strong.mb-2 200 руб. 
						
						.col-sm-6
							+e.title Условия доставки Санкт-Петербургу:
							.small.text-gray доставка в пункт выдачи: 
							.strong.mb-2 200 руб. 
							.small.text-gray доставка курьером: 
							.strong.mb-2 280 руб. 
					div.pt-2 При заказе на сумму от 2900 рублей – 
						|
						strong доставка БЕСПЛАТНО по Москве, МО и Санкт-Петербург.
		
			+e.col.col-lg
				+b.group-bg
					+e.title Для других регионов России стоимость доставки зависит от региона.
					div.mb-3 При заказе на сумму 
						|
						strong от 3900 рублей 
						| – доставка косметики 
						|
						strong БЕСПЛАТНО
					div Доставка Почтой России осуществляется по предоплате (оплата заказа по карте) - 
						|
						strong 400р.
			+e.col.col-md-4
				+e.border-block: div 
					strong Заказы сделанные до 16 часов,  
					|
					| будут отправлены на следующий день. (Только Москва в пределах МКАД)
			
			+e.col.col-md-4
				+e.border-block: div 
					strong Заказы сделанные после 16 часов, 
					|
					| будут отправлены через день.
			
			+e.col.col-md-4
				+e.border-block: div 
					strong Заказы, сделанные в субботу и воскресенье, 
					|
					| будут обработаны в понедельник.
			
	// end s-delivery

mixin tr(t1,t2)
	tr
		td= t1
		td= t2
mixin s-delivery-2()
	// start s-delivery
	+b.s-delivery.section#s-delivery 
		.row
			.col-lg-4.col-sm-6
				+select()
					option( selected disabled) Выберите регион доставки
					option( ) Выберите регион доставки 1
					option( ) Выберите регион доставки 2
			
			.col-lg-4.col-sm-6
				+select()
					option( selected disabled) Выберите населенный пункт
					option( ) Выберите населенный пункт 1
					option( ) Выберите населенный пункт 2
		.h4.mb-4 Условия доставки по г.Белгород
		.text-info.strong.h5 КУРЬЕРСКАЯ ДОСТАВКА в руки клиенту по г. Белгород
			br
			| оплата заказа при получении
		+b.group-bg
			.strong.h6 Срок курьерской доставки от 1 до 3 рабочих дней
			.h6 Курьерская доставка осуществляется компанией СДЭК по рабочим дням с 9-00 до 18-00 
				br
				| При прибытии заказа в город Вам будет отправлено SMS сообщение. 
				br
				| Сроки/даты доставки по городу необходимо уточнять на пунктах самовывоза в Ваших городах 
			.h6
				a(href="http://www.edostavka.ru/contacts/city-list.html ") http://www.edostavka.ru/contacts/city-list.html 
				br
				| Оплата заказа при получении. 
				br
				| 2 метода оплаты - наличными или банковской картой.
				br
				| Пожалуйста, проверяйте комплектность заказа при курьере. 
				br
				| ЧАСТИЧНОГО ВЫКУПА ТОВАРА У КУРЬЕРСКОЙ КОМПАНИИ НЕТ.
				br
				| Все замечания по доставке и целостности внешней упаковки фиксируйте в доставочном листе при получении заказа.
			.ttu.strong.my-4  СТОИМОСТЬ КУРЬЕРСКОЙ ДОСТАВКИ г. Белгород
			table
				tr
					th Сумма заказа
					th Цена доставки
				+tr("более 4999 руб.","БЕСПЛАТНО")
				+tr("3000 - 4999 руб.	","290 руб.")
				+tr("1000 - 2999 руб.	","380 руб.")
				+tr("до 999 руб.","430 руб.")
		+b.group-bg
			.strong.h6 ПУНКТЫ ВЫДАЧИ ЗАКАЗОВ г. Белгород
			.h6   В ПВЗ Белгород, пр-кт Б.Хмельницкого, д.137, корпус 3

			.h6 
				strong Срок доставки 
				| 
				| до пункта выдачи от 2 до 4 рабочих дней с момента телефонного подтверждения заказа

			.h6 
				strong График работы:
				| 
				|  пн-пт:10.00-19.00, сб:10.00-16.00

			.h6 
				strong Адрес: 
				| 
				| Белгород, пр-кт Б.Хмельницкого, д.137, корпус 3, оф. 6
			.strong.h6.my-3 СТОИМОСТЬ ОБРАБОТКИ И ХРАНЕНИЯ ЗАКАЗА
			table
				tr
					th Сумма заказа
					th Цена доставки
				+tr("более 4999 руб.","БЕСПЛАТНО")
				+tr("3000 - 4999 руб.	","290 руб.")
				+tr("1000 - 2999 руб.	","380 руб.")
				+tr("до 999 руб.","430 руб.")
			+b.accordion
				.showhide.text-info.ttu  ПОДРОБНЕЕ
				+e.content
					.py-3
						<script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A57a56bc44235cf433be6000bbbbe96f6d98b19c923ecb1a7746e4da1ca26652b&amp;width=100%25&amp;height=183&amp;lang=ru_RU&amp;scroll=false"></script>
					.h6 Доставка в Пункт выдачи заказа осуществляется компанией Boxberry.
						br
						| Отследить состояние заказа Вы можете на сайте www.boxberry.ru 
						br
						| Внесите номер вашего заказа в графу "Номер вашего отправления". 
						br
						| Хранение товара осуществляется в течение 7 календарных дней.
						br
						| Оплата заказа при получении. 
						br
						| 2 метода оплаты - наличными или банковской картой.
						br
						| Предоплаченные заказы выдаются только по предъявлению удостоверения личности.
						br
						| ПОЖАЛУЙСТА, ПРОВЕРЯЙТЕ КОМПЛЕКТНОСТЬ ЗАКАЗА при получении вместе с сотрудником пункта самовывоза
						br
						| ЧАСТИЧНОГО ВЫКУПА ТОВАРА У КУРЬЕРСКОЙ КОМПАНИИ НЕТ.
						br
						| Все замечания по доставке и целостности внешней упаковки фиксируйте в доставочном листе при получении заказа.
	// end s-delivery


