mixin s-articals()
	// start s-articals
	+b.s-articals
		mixin item(i,t,p)
			+e.item
				.row
					.col-md-auto
						+e.img-wrap.img-bg(href="#" style=`background-image: url(img/artical-${i}.jpg);`)
							img(src=`img/artical-${i}.jpg`, alt="")
					.col
						+e.text-block
							div: +e.title(href="#")= t
							+e.text= p
							+e.date 01/06/2018
			// +e.item
		+item("1","Делаем грудь красивой. Уход и упражнения. ","Грудь – одна из самых привлекательных и соблазнительных частей женского тела. Именно грудь издревле является предметом гордости женщин и внимания мужчин.")

		+item("2","Уход за поврежденной кожей.","Повреждение кожи – это разрушение эпидермиса, нарушение ее функций и защитного барьера. В этой статье мы рассмотрим наиболее распространенные причины повреждения кожи и расскажем о том, как помочь коже в период восстановления.")

		+item("3","Самые эффективные способы разглаживания морщин","Ни для кого не секрет, что с возрастом на лице как женщин, так и мужчин, появляются морщины и пигментные пятна. Но важно знать, что далеко не всегда причиной является физическое старение организма.")

		+item("4","Эпиляция. Плюсы и минусы различных видов эпиляции.","На сегодняшний день рынок косметологических услуг предлагает множество различных видов эпиляции и депиляции. Мы же постараемся разобраться в их различиях, плюсах и минусах.")
	// end s-articals