extends layout/main.pug


include ../blocks/catalog-nav/_catalog-nav.pug

include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

include ../blocks/s-stock/_s-stock.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-brands/_s-brands.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/prod-head/_prod-head.pug
include ../blocks/s-basket/_s-basket.pug
include ../blocks/s-order/_s-order.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-po/_s-po.pug

block title
	title Бонусные баллы

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+top-line()
		+catalog-nav()
		
	//- +header-block()
	.container
		.border-top.border-light
		+breadcrumb("Личный кабинет", "Главная")
		.h4.text-gray Личный кабинет
		// start s-po
		+b.s-po
			.row
				.col-lg-3
					+aside
				.col
					+e.section
						+b.s-basket.s-basket--favorites
							table.w-100
								- for (var x = 0; x < 3; x++)
									tr
										td
											+e.img-wrap.text-center(href="#")
												img.res-i(src="img/prod.png", alt="")
										td
											a.small(href="#") Parachute Coconut Oil Кокосовое Масло, 
												+e.SPAN.val 100 мл
											.h5 12 415 р.
										td
											+e.A.btn--favorites.btn.btn-sm.btn-primary(href="#")
												+icon("basket")
												span.d-none.d-sm-inline В корзину
											// внизу вид кнопки при добавлении товара в корзину
											
											// +e.A.btn--favorites.btn.btn-sm.active.btn-primary(href="#")
												+icon("basket")
												span.d-none.d-sm-inline В корзине
										td
											+e.A.btn-del.btn.btn-sm.btn-block.btn-outline-primary(href="#") 
												span.d-none.d-md-inline Удалить из избранного
												span.d-md-none ×
							
							
		// end s-po
			
	+footer()
	+modal()
	