extends layout/main.pug


include ../blocks/catalog-nav/_catalog-nav.pug

include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

include ../blocks/s-stock/_s-stock.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-brands/_s-brands.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/prod-head/_prod-head.pug
include ../blocks/s-basket/_s-basket.pug
include ../blocks/s-order/_s-order.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-po/_s-po.pug

block title
	title Бонусные баллы

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+top-line()
		+catalog-nav()
		
	//- +header-block()
	.container
		.border-top.border-light
		+breadcrumb("Личный кабинет", "Главная")
		.h4.text-gray Личный кабинет
		// start s-po
		+b.s-po
			.row
				.col-lg-3
					+aside
				.col
					+e.section
						.h4.text-gray.pb-3 Бонусные баллы
						.row.align-items-center.pb-4
							.col-sm-auto
								+e.points-block
									.h5 
										+e.SPAN.big 350 
										| баллов
									a.small(href="#") Узнать о баллах
							.col-xl-5.col-md-6.col-sm
								
								.h5.pb-1 1 балл = 1 рубль
								.small.pb-1  Потратить бонусные баллы можно только после накопления суммы в 1250 баллов.

								.h5 Осталось 
									span.text-info 900 баллов до 1250

						.h4.text-gray.pb-3 Операции с бонусами
						+e.TABLE.table-points
							tr
								td 19 ноября 2019г.
								td Начисление баллов за Заказ 
									span.text-info №659963
								td
									.h5.strong.mb-0.text-info +&nbsp;150 
										span.d-none.d-md-inline баллов
							
							tr
								td 19 ноября 2019г.
								td Списание баллов оплата Заказа 
									span.text-info №659963
								td
									.h5.strong.mb-0.text-primary -&nbsp;150 
										span.d-none.d-md-inline баллов
							
							tr
								td 19 ноября 2019г.
								td Начисление баллов за Заказ 
									span.text-info №659963
								td
									.h5.strong.mb-0.text-info +&nbsp;150 
										span.d-none.d-md-inline баллов
							
							
		// end s-po
			
	+footer()
	+modal()
	