extends layout/main.pug


include ../blocks/catalog-nav/_catalog-nav.pug

include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

include ../blocks/s-stock/_s-stock.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-brands/_s-brands.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/prod-head/_prod-head.pug
include ../blocks/s-basket/_s-basket.pug
include ../blocks/s-order/_s-order.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-po/_s-po.pug

block title
	title Адрес

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+top-line()
		+catalog-nav()
		
	//- +header-block()
	.container
		.border-top.border-light
		+breadcrumb("Личный кабинет", "Главная")
		.h4.text-gray Личный кабинет
		// start s-po
		+b.s-po
			.row
				.col-lg-3
					+aside
				.col
					+e.section
						.h4.text-gray.pb-3 Адрес
						+form-wrap()
							.row
								.col-md-4
									+e.input-wrap--addr.form-group
										+e.INPUT.input--addr.--po.form-control( type="text" placeholder="Населенный пункт"  )
										+e.BUTTON.btn-addr--po.btn.btn-sm.btn-outline-primary(type="button") Изменить
										+b.addr-result
											+e.block
												- for (var x = 0; x < 8; x++)
													+e.item 
														+e.row.row
															.col-auto 94005 
															.col: span.text-gray п. Натухаевский, Московская область, Сергеевский район
								// .col-md-4
								
								.col-md-4.col-sm-6
									+inputt("text","Улица, Дом","text")(required)
								// .col-md-4.col-sm-6
								
								.col-md-4.col-sm-6
									+inputt("text","Индекс","text")(required)
								// .col-md-4.col-sm-6
								
								.col-md-4.col-sm-6
									.row
										.col-6
											+inputt("text","Квартира/офис","text")
										// .col-6
										
										.col-6
											+inputt("text","Подъезд","text")
										// .col-6
										
								// .col-md-4.col-sm-6
							 
								.col-md-4.col-sm-6
									.row
										.col-6
											+inputt("text","Домофон","text")
										// .col-6
										
										.col-6
											+inputt("text","Этаж","text")
										// .col-6
										
								// .col-md-4.col-sm-6
							 
							+e.foot-row.row.justify-content-end
								.col-md-4.col-sm-6
									+e.BUTTON.btn-lg.btn.btn-lg.btn-block.btn-primary(type="submit") Сохранить изменения


		// end s-po
			
	+footer()
	+modal()
	