extends layout/main.pug


include ../blocks/catalog-nav/_catalog-nav.pug

include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

include ../blocks/s-stock/_s-stock.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-brands/_s-brands.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/prod-head/_prod-head.pug
include ../blocks/s-basket/_s-basket.pug
include ../blocks/s-order/_s-order.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-po/_s-po.pug
include ../blocks/s-delivery/_s-delivery.pug

block title
	title Контакты

block pagecontent
	+mob-mnu()
	+header()
		// +top-nav()
		+top-nav-login()
		+top-line()
		+catalog-nav()
		
	//- +header-block()
	.container
		.border-top.border-light
		+breadcrumb("Контакты", "Главная")
		.h4.text-gray Контакты 
		.section-border-top
			+b.group-bg--contact
				+e.title Офис в Москве
				.row.mb-2
					.col-sm-auto
						.strong Адрес:
					.col
						.small.text-gray г. Москва ул. Автомобилистов, д65 офис 12
				
				.row.mb-2
					.col-sm-auto
						.strong E-mail:
					.col
						div: a.small.text-gray(href="mailto:sample@sample.com") sample@sample.com
				
				.row.mb-2
					.col-sm-auto
						.strong Телефон:
					.col
						div: a.small.text-gray(href="tel:+7(800)775-81-50")  +7 (800) 775-81-50         
						div: a.small.text-gray(href="tel:+7(495) 785-83-44")  +7 (495) 785-83-44 
			
	+footer()
	+modal()
	